/* form.styles.css */

/* Estilos para el contenedor principal del formulario */
.formcontainer {
  display: flex; /* Usar display: flex para colocar elementos en una fila */
  /* Permite que los elementos se envuelvan a la siguiente línea cuando no caben */
  justify-content: center;
  align-items: center;
}

.formsection {
  display: flex;
  gap: 100px;
}

.header {
  position: absolute; /* Posición absoluta en relación al contenedor padre */
  top: 0; /* Coloca el elemento en la parte superior del contenedor */
  left: 0; /* Coloca el elemento en la parte izquierda del contenedor */

  margin: 6px ;
}

/* Estilos para los campos de entrada y etiquetas */
.formlabel {
  font-weight: bold;
  display: grid;
  margin-bottom: 7px;
  text-align: center;
}

.forminput {
  width: 95%;
  padding: 8px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.formbutton {
  margin: 2%;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.formbutton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* .selectedcountries {
  font-weight: bold;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
} */


.successmessage {
  color: #4caf50; /* Cambia el color a verde */
  font-size: 24px; /* Aumenta el tamaño de fuente */
  font-weight: bold; /* Hace el texto en negrita */
  text-align: center; /* Centra el texto horizontalmente */
  margin: 10px 0; /* Agrega un espacio superior e inferior para separar el mensaje */
  padding: 10px; /* Agrega espacio interno para un aspecto más limpio */
  background-color: #dff0d8; /* Agrega un fondo de color verde claro */
  border: 1px solid #4caf50; /* Agrega un borde alrededor del mensaje */
  border-radius: 5px; /* Hace que los bordes sean redondeados */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.7); /* Agrega una sombra suave al mensaje */
}
.errormessage {
  color: red;
  font-size: 14px;
  margin-top: -28px;
  margin-bottom: 15px;
  text-align: center;
}

.selectedcountries ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; 
  text-align: center;
  ;
}

/* Estilos para el campo de selección de países */
.forminputpaises {
  width: 100%;
  height: 140px;
  padding: 10px;
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
}
select {
  width: 100%;
 }