.cardlist {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Distribuir tarjetas en filas, mínimo ancho de 250px */

  justify-items: center; /* Centra las tarjetas horizontalmente */

  max-width: 1250px; /* Ancho máximo */

}
