

.cardcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 7px;
  background: linear-gradient(
    to bottom,
    #0a0658,
    #000
  ); /* Degradado de azul oscuro a negro */
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 200px;
  height: 295px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;

}

.cardcontainer:hover {
  transform: scale(1.05); /* Escala ligeramente en el hover */
}

.cardcontainer a {
  text-decoration: none;
}

.cardcontainer img {
  width: 200px; /* Tamaño fijo de la bandera */
  height: 150px; /* Altura fija de la bandera */
  border-radius: 10px;
}

.cardText {
  font-size: 96%; /* Tamaño del texto */
  background: -webkit-linear-gradient(left, #e85e5e, #bbdc00);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 text-shadow: 2px 2px 3px 1px #7a2a2a;

} 